In [141]:
from bs4 import BeautifulSoup
import pandas as pd

In [142]:
import requests

In [143]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [144]:
soup=BeautifulSoup(source,'lxml')

In [145]:
#print(soup.prettify())

In [146]:
My_table = soup.find('table',{'class':'wikitable sortable'})

In [147]:
a = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [148]:
df = pd.DataFrame(a[0])

In [149]:
df.shape

(290, 3)

In [150]:
head_1 = df.iloc[0,:]
head_1

0         Postcode
1          Borough
2    Neighbourhood
Name: 0, dtype: object

In [151]:
df.columns=head_1

In [152]:
df.drop([0],inplace=True)
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

Removing Borough with Not Assigned and Blank values

In [153]:
df = df[df.Borough!='Not assigned']
df = df[df.Borough!= 0]
df.reset_index(drop = True, inplace = True)
df.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Assigning missing neighbourhood a Borough value

In [154]:
for i in range(0,df.shape[0]):
    if df.iloc[i][2] == 'Not assigned':
        df.iloc[i][2] = df.iloc[i][1]
        i = i+1

In [155]:
df_table = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_table.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [156]:
df_table.shape

(103, 3)